body{
	    width: 100%;
    min-height: 100%;
    background: #f1f1f12e;
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 80px;
}

.myupload{
	background: #ecebeb38;
    padding-top: 10px;
    padding-bottom: 20px;
}

.input-group .input-group-addon {
     line-height: 1!important;
 }

 .form-control{
 	font-size: 1.5rem;
 }

 .glyphicon-folder-open{
 	top:4px;
 }

 .myupload{
    height: 200px;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
 }

 .krajee-default.file-preview-frame{
 	box-shadow: none;
 	background: #f3f3f36b;
 }

 
 #table img{
    max-width: 100px;
 }
 #table_length select{
    height: 3rem;
 }

 body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #007bff;
  outline: 1px solid slategrey;
}